{% extends 'base.html.twig' %}

{% block title %}JokePage
{% endblock %}
{% block body %}
	<div class="wrapper">
		<div class="contentbox">
			<h2 class="catégorie">{{jokes.type}}</h2>
			<div class="LABARRE"></div>
			<p class="question">{{jokes.joke}}</p>
			<p class="answer">{{jokes.answer}}</p>
		</div>
	</div>
	<form>
		<div style="display : none; visibility : hidden;">{{ form_start(form) }}
		</div>
		<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-heart-fill" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
		</svg>
		<div style="display : none; ; visibility : hidden;">
			{{ form_end(form) }}
		</div>
	</form>
	<a href="/">
		<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-heartbreak-fill" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"/>
		</svg>
	</a>
	<script>
		const button = document.querySelector('.bi-heart-fill')
    button.addEventListener('click', (e) => {
    e.preventDefault()
    const form = document.querySelector('form')
    form.submit()
    console.log('submit')
  })
	</script>
{% endblock %}
