{% extends 'base.html.twig' %}

{% block title %}Landing page
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-5 mx-auto">
				<div id="first">
					<div class="myform form ">
						<div class="logo mb-3">
							<div class="col-md-12 text-center">
								<h1>Inscription</h1>
							</div>
						</div>
						<form action="" method="post" name="login">
						{{ form_start(registrationForm) }}
							<div class="form-group">
								<label for="exampleInputEmail1">{{ form_row(registrationForm.username) }}</label>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">{{ form_row(registrationForm.email) }}</label>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">{{ form_row(registrationForm.plainPassword, {
            						label: 'Password'
        						}) }}</label>
							</div>
							{{ form_row(registrationForm.agreeTerms) }}
							<div class="col-md-12 text-center ">
								<button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Incris toi</button>
							</div>
							{{ form_end(registrationForm) }}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
